<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="OfficeDB" connectionString="Data Source=MSI\SQLEXPRESS;
                         Initial Catalog=office management studio;
                         Integrated Security=True;
                         TrustServerCertificate=True"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></connectionStrings>
